extends layout

block focus
	include focus

block content
	div.articles
		h2.articles_title 最新评测
		
		each val in #{items}
			div.item
				div.item_user
					span
						a(href= val.authorLink ,class='link_user')= val.author + '|' + val.time
					em
						a(href= val.href, class='link_grey')= val.columnName
				div.item_info.clearfix
					div.item_pic
						a(href= val.articleLink)
							img(src= val.src)
					div.item_text
						em
							a(href= val.articleLink)
						p= val.text
		
		div.page
			if #{page} == 0
				a(href='/#{nextpage}',class='btn_next') 下一页
			else
				a(href='/#{prepage}',class='btn_pre') 上一页
				a(href='/#{nextpage}',class='btn_next') 下一页


block aside
	include aside

		
block sidebar
	include sidebar