extends ../layout

block lists
	div.lists#lists
		div.addNew
			a(href='/article/add',class='link_blue') 添加新文章
		div#contents
			each it in articles
				div.item
					strong.item_title
						a(href='/article/info/#{it.gid}')= it.title
					ul.item_type
						li
							img(src= it.author.icon) 
							span= it.author.name
						li= it.date
					
					div.item_info
						- var html = it.pics ? '<img src="'+ it.pics +'" />' : '';
						- html += decodeURIComponent(it.content)
						| !{html}
					div.item_handler
						a(href='/article/info/#{it.gid}') 全文
					//	a(href='/article/edit/#{it.gid}') edit
		// 翻页
		div.page
			a(href='/index?start=#{start}',id='page') 更多
		