extends ../layout



block content
	div.articles
		h2.articles_title= columnName
		
		each val in articles
			div.item
				div.item_user
					span= val.author.name + ' | ' + val.date
						//a(href= val.authorLink ,class='link_user')= val.author + '|' + val.time
					em
						- var types = settings.types[val.tid];
						a(href= '/article/' + val.tid, class='link_grey')= types.value
				div.item_info.clearfix
					div.item_pic
						a(href= '/article/list/' + val.tid + '/' + val.gid)
							img(src= val.pic)
					div.item_text
						em
							a(href= '/article/list/' + val.tid + '/' + val.gid)= val.title
						p= val.info
		
		div.page
			a(href='/#{prepage}',class='btn_pre') 上一页
			a(href='/#{nextpage}',class='btn_next') 下一页


block aside
	include ../aside

		
block sidebar
	//include ../sidebar